@charset "utf-8";
@font-face {
	font-family:D1;
	src: url('Fonts/Dancing_Script/DancingScript-Bold.ttf');}
@font-face {
	font-family:V1;
	src: url('Fonts/Vollkorn/Vollkorn-Regular.ttf');}
@font-face{
	font-family: V2;
	src: url(Fonts/Vollkorn/Vollkorn-Bold.ttf);
}
body {
	margin: 0px;
	height: 100%;
	background: linear-gradient(#faefca,#fae28f);
}
h1 {
	font-family: D1;
	font-size: 20px;
}
p{
		font-family: V1;
		font-size: 12px;
	}
@media (max-width: 460px){
	.all {
		width: 90%;
		margin: auto;
		box-shadow: 3px 3px 20px;
	}
	#Bar{
		margin-top: 43px;
		text-align: center;
		font-family: V1;
		font-size: 10px;
	}
	.header_navigation {
		margin-top: 37px;
		margin-bottom: 0px;
		height: 90px;
		background:#ffd703;
		padding-left: 12px;
		padding-bottom: 12px;
			}
	.header_navigation h1{
		position: relative;
		top: 25px;
			}
	.header_navigation p{
		position: relative;
		top: 0px;
		font-family: V1;
		float: left;
		font-size: 10px;
		color: #888;
	}
	.header_navigation .gap{
		margin-right: 15%;
	}
	.main{
		margin-top: 0px;
		background: #fff;
	}
	.Meeting_Events{
		padding: 12px;
	}
	.Meeting_Events h1{
		margin-bottom: 12px;
		font-size: 15px;
		font-family: D1;
	}
	.Meeting_Events p{
		font-family: V1;
		font-size: 8px;
	}
	.Meeting_Events .img_all{
		height: 300px;
	}
	.Meeting_Events h2{
		width: 100%;
		color: white;
		font-family: V2;
		font-size: 13px;
		text-align: center;
		position: absolute;
		top: 250px;
	}
	.Meeting_Events .img_a{
		height: 300px;
		width:31%;
		overflow: hidden;
		position: relative;
		background: #CCC;
		float: left;
		margin-right: 3%;
	}
	.Meeting_Events .img_b{
		height: 300px;
		width:31%;
		overflow: hidden;
		position: relative;
		background: #CCC;
		float: left;
		margin-right: 3%;
	}
	.Meeting_Events .img_c{
		height: 300px;
		width:31%;
		overflow: hidden;/*裁剪图片*/
		position: relative;
		background: #CCC;
		float: left;

	}
	.Meeting_Events img{
		position: relative;
		left: -150px;/*控制图片显示区域*/
		filter: grayscale(90%);/*灰色滤镜*/
		-webkit-filter: grayscale(90%);
		-moz-filter: grayscale(90%);
  }
	.Meeting_Events img:hover {/* 标签：hover >鼠标悬停时生效*/
		position: relative;
		left: -150px;/*控制图片显示区域*/
		filter: brightness(120%);
		-webkit-filter: brightness(120%);
		-moz-filter: brightness(120%);
  }
	.Meeting_Events p{
		font-family: V1;
		font-size: 12px;
	}
	.Photo_gallery{
		margin: auto;
		padding-left: 12px;
		padding-right: 12px;
	}
	.Photo_gallery #photo-gallery{
		width: 100%
	}
	.Photo_gallery p{
		font-family: V1;
		font-size: 12px;
	}
	.Testimonials{
		padding: 12px;
	}
	.Testimonials .img_all{
		height: 350px;
	}
	.Testimonials .img_a{
		height: 200px;
		overflow: hidden;
		position: relative;
		background: #CCC;
	}
	.Testimonials .img_a img{
		position: relative;
		top: -20px;
	}
	.Testimonials h2{
		width: 100%;
		color: white;
		font-family: V2;
		font-size: 13px;
		text-align: left;
		position: absolute;
		left: 12px;
		bottom: 12px;
	}
	.Testimonials .img_b{
		margin-top: 12px;
		float: left;
	}
	.Testimonials .img_c{
		margin-top: 12px;
		float: right;
	}
	.Testimonials h1{
		font-family: D1;
		
	}
	.Testimonials .slogn{
		height: 130px;
		border-left-color: #ffd703;
		border-left-style: solid;
		border-left-width: 3px;
		padding-left: 16px;
		padding-top: 45px;
	}
	.Testimonials .slogn h3{
		
		font-family: V1;
		font-size: 23px;
	}
	.Hotel_detail{
		padding-left: 12px;
		padding-right: 12px;
	}
	.check_in{
		border-width: 2px;
		border-color: #efefef;
		border-style: solid;
		padding: 5px;
	}
	.Hotel_detail h2{
		font-family: D1;
		font-size: 14px;
		
	}
	.Map{
		padding-bottom: 6px;
	}
	.Map img{
		width: 100%;
	}
	.bottom{
		width: 100%;
		height: 400px;
		background: white;
	}
}
